<div class="card">
  <div class="card-body">
    <form [formGroup]="f">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field class="w-100">
            <mat-label>Categoría</mat-label>
            <mat-select (valueChange)="HandlerSelectCategoria($event)" formControlName="category">
              <mat-option *ngFor="let cat of categorias" [value]="cat.id">
                {{cat.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="w-100">
            <mat-label>Producto</mat-label>
            <mat-select (valueChange)="HandlerSelectProducto($event)" formControlName="product">
              <mat-option *ngFor="let prod of productos" [value]="prod.id">
                {{prod.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="w-100">
            <mat-label>Marca</mat-label>
            <mat-select (valueChange)="HandlerSelectMarca($event)" formControlName="marc">
              <mat-option *ngFor="let marc of marcas" [value]="marc.id">
                {{marc.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="chart-container">
  <canvas id="MyChart">{{ chart }}</canvas>
</div>